.section{
  width: 100%;
  height: 57rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  background: rgb(234, 234, 234);


  p{
    font-size: 1.15rem;
    font-weight: 600;
  }

  @media (max-width: 730px){
    height: auto;
    p{
      font-size: 1rem;
    }
  }

}
.content{
  display: flex;
  width: 28rem;
  height: 22rem;
  border-radius: 6px;
  margin: 2rem;
  transition: .5s;

  &:hover{
    filter: drop-shadow(0px 10px 4px rgba(50, 50, 50, .5));
    transform: scale(1.03);
  }

  img{
    border-radius: 6px;
    filter: sepia(60%) blur(1.5px);
    transition: .5s;

    &:hover{
      filter: sepia(0%) blur(0);
      border-radius: 23px;
    }

    @media (max-width: 500px){
      filter: sepia(0%) blur(0);
    }

  }

  @media (max-width: 420px){
    width: 95%;
  }

}
.contentText{
  display: flex;
  flex-direction: column;
  width: 28rem;
  height: 22rem;
  border-radius: 6px;
  margin: 2rem;

  span{
    font-size: 2rem;
    font-weight: 800;
  }

  @media (max-width: 700px){
    margin: .5rem;
    span{
      font-size: 1.5rem;
    }
  }

  @media (max-width: 420px){
    width: 95%;
  }

}
.row{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0 2rem 0 2rem;
  margin-bottom: 1.2rem;
  align-items: center;
  flex-direction: row;

  @media (max-width: 600px){
    flex-direction: column;
  }
}
.row2{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0 2rem 0 2rem;
  margin-bottom: 1.2rem;
  align-items: center;
  flex-direction: row;

  @media (max-width: 600px){
    flex-direction: column-reverse;
  }
}
.column{
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sectionContainer{
  width: 100%;
  height: 32rem;
  background-image: url('../../../public/images/BgImage/bgImg.jpg');
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


  @media (max-width: 912px){
    height: 35rem;
  }

  @media (max-width: 795px){
    height: 35rem;
  }

  @media (max-width: 746px){
    height: 39rem;
  }

  @media (max-width: 700px){
    height: 55rem;
    flex-direction: column;
  }

  @media (max-width: 450px){
    height: 68rem;
  }
}

.controlContent{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
max-width: 1300px;

@media (max-width: 700px){
  flex-direction: column;
}

}

.Lcontent{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:2%;
  padding: 6% 0 6% 2%;
  width: 35%;
  height:100%;
  z-index: 2;
  img{
    border-radius: 15px;
    filter: sepia(40%) blur(1.3px);
    transition: .5s;

    &:hover{
      filter: sepia(0) blur(0);
      transform: scale(1.05);
      border-radius: 22px;
    }

    @media (max-width: 500px){
      filter: sepia(0%) blur(0px);
    }

  }
  @media (max-width: 1010px){
    padding: 10% 0 10% 2%;
  }
  @media (max-width: 905px){
    padding: 15% 0 15% 2%;
  }
  @media (max-width: 764px){
    padding: 18% 0 18% 2%;
  }

  @media (max-width: 700px){
    width: 80%;
    padding: 6% 2% 6% 2%;
  }
  @media (max-width: 480px){
    width: 80%;
    padding: 15% 2% 15% 2%;
  }
}
.Rcontent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 65%;
  height:100%;
  z-index: 2;

  p{
    font-size: 1.8rem;
    color: aliceblue;
    font-weight: 700;
  }

  span{
    color: aliceblue;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    width: 60%;
  }

  @media (max-width: 700px){
    width: 95%;
    span{
      width: 80%;
    }
  }

}

.sectionTop{
  width: 100%;
  height: 16rem;
  background: rgb(30, 50, 88);
  border-bottom-right-radius: 50rem;
}
.sectionSub{
  width: 100%;
  height: 16rem;
}
.containerInfo{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}


